h1{
    color:purple;
    font-size: 30px;
}

p{
    color:palevioletred;
    text-align: center;  
    font-weight: bold;  
}

body{
    background-color: azure ;
    font-family: 'Times New Roman', Times, serif;

}

ul{
    color: white;
    text-transform: uppercase;
}

div{
    background-color: blueviolet;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    height: 800px;
    display:flex; 
    align-items: flex-start;
    flex-wrap: wrap;
}

.div-hijo{
    background-color: pink;
    width: 30%;
    height: 200px;
}
span{
    background-color: chartreuse;
}

