.contenedor1{
    background-color: rgb(224, 222, 222);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;
    padding: 5px;
    margin: 30px;
    border-radius: 10px;
    height: 150px;
}

.encabezado{
    width: 65%;
    height: 40px;
    margin: 10px;
    padding: 10px;
}

.div-menu1{
    background-color: rgb(39, 133, 39);
    border: 1px solid black;
    width: 30%;
    height: 40px;
}

.div-logo{
    background-color: rgb(5, 5, 63);
    border: 1px solid black;
    width: 20%;
    height: 40px;
}

.div-menu2{
    background-color: rgb(58, 9, 9);
    border: 1px solid black;
    width: 70%;
    height: 40px;
}

p{
    color: white;
    text-align: left;
}

.cuerpo{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div-izquierda{
    background-color: grey;
    width: 30%;
    height: 300px;
    border: 1px solid black;     
    padding: 5px;     
    margin: 5px;
    border-radius: 10px
}

.div-centro{
    background-color: rgb(16, 100, 96);
    width: 30%;
    height: 300px;
    border: 1px solid black;     
    padding: 5px;     
    margin: 5px;
    border-radius: 10px
}

.div-derecha{
    background-color: rgb(250, 197, 128);
    width: 30%;
    height: 300px;
    border: 1px solid black;     
    padding: 5px;     
    margin: 5px;
    border-radius: 10px
}

.div-izquierda2{
    background-color: rgb(75, 121, 7);
    width: 62%;
    height: 300px;
    border: 1px solid black;     
    padding: 5px;     
    margin: 5px;
    border-radius: 10px
}  
    

.div-derecha2{
    background-color: rgb(143, 76, 21);
    width: 30%;
    height: 300px;
    border: 1px solid black;     
    padding: 5px;     
    margin: 5px;
    border-radius: 10px
}

.pie{
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 80px;
    border: 1px solid black;
    padding: 5px;
    margin: 30px;
    border-radius: 10px;
}

.div-elemento{
    background-color: blue;
    width: 10%;
    height: 30px;
    border: 1px solid black;     
    padding: 5px;     
    margin: 5px;
    align-self: flex-end;
    
}